*
**.cache
.config/Insomnia
.config/autostart
.config/chromium
.config/Code - OSS/*
.config/Code - OSS/User/globalStorage
.config/Code - OSS/User/snippets
.config/Code - OSS/User/workspaceStorage
!.config/Code - OSS/User
.config/dconf
.config/galculator
.config/htop
.config/l3afpad
.config/menus
.config/nvim/plugged
.config/nvim/swap
.local/lib/python*
.local/bin/uimp
.local/bin/w3imp
.local/share/applications/chrom*
.local/share/desktop-directories
.local/share/fonts
.local/share/icons
.local/share/meld
.local/share/nvim/shada
.local/share/nvim/swap
.local/share/recently-used.xbel
.local/share/xorg
.local/share/zathura
