**.cache
.config/autostart
.config/chromium
.config/dconf
.config/menus
.config/nvim/plugged
.config/nvim/swap
.local/share/applications/chrom*
.local/share/desktop-directories
.local/share/icons
.local/share/nvim/shada
.local/share/nvim/swap
.local/share/recently-used.xbel
.local/share/xorg
