! vim: ft=xdefaults : foldmethod=marker
! File:		.Xresources
! Author:	Mohamed Sobh
! ------------------------------------------------------------------------------


!---- DPI Dependant ------------------------------------------------------------
#if DPI > 150
	#define term_font	monospace:size=14
	#define term_font_alt	Symbols Nerd Font:size=14
	#define display_font	systemui:size=14
	#define font_size	14
#else
	#define term_font	monospace:size=10
	#define term_font_alt	Symbols Nerd Font:size=10
	#define display_font	systemui:size=10
	#define font_size	10
#endif

#define font_name	monospace
!---- Color Scheme -------------------------------------------------------------
#include ".config/xresources/colors/sobh.Xresources"

!---- Fonts -----------------------------------------------------------------{{{
! DPI must be set in .xinit
Xft.dpi:	DPI
Xft.autohint:	0
Xft.lcdfilter:	lcddefault
Xft.hintstyle:	hintfull
Xft.hinting:	1
Xft.antialias:	1
Xft.rgba:	rgb
!---- Fonts }}}

!---- Applications ----------------------------------------------------------{{{
!-------- st ------------------------{{{
/* St*termname:	st-256color */
st*alpha:	term_opacity
st*font:	term_font
st*fontalt0:	term_font_alt

st*cursorColor:	term_cursorcolor
st*background:	term_background
st*foreground:	term_foreground

st*color0:	term_color00
st*color1:	term_color01
st*color2:	term_color02
st*color3:	term_color03
st*color4:	term_color04
st*color5:	term_color05
st*color6:	term_color06
st*color7:	term_color07
st*color8:	term_color08
st*color9:	term_color09
st*color10:	term_color10
st*color11:	term_color11
st*color12:	term_color12
st*color13:	term_color13
st*color14:	term_color14
st*color15:	term_color15
!--- st }}}

!-------- XTerm ---------------------{{{
UXTerm*TermName:	xterm-256color
UXTerm*FaceName:	font_name
UXTerm*FaceSize:	font_size

UXTerm*CursorColor:	term_cursorcolor
UXTerm*Background:	term_background
UXTerm*Foreground:	term_foreground

UXTerm*color0:	term_color00
UXTerm*color1:	term_color01
UXTerm*color2:	term_color02
UXTerm*color3:	term_color03
UXTerm*color4:	term_color04
UXTerm*color5:	term_color05
UXTerm*color6:	term_color06
UXTerm*color7:	term_color07

UXTerm*color8:	term_color08
UXTerm*color9:	term_color09
UXTerm*color10:	term_color10
UXTerm*color11:	term_color11
UXTerm*color12:	term_color12
UXTerm*color13:	term_color13
UXTerm*color14:	term_color14
UXTerm*color15:	term_color15

!---- XTerm }}}

!-------- sxiv ----------------------{{{
Sxiv*font:	display_font
Sxiv*background:	black
Sxiv*foreground:	white
!-------- sxiv }}}
!
!---- Applications }}}

Xcursor.theme: Vanilla-DMZ-AA

Xcursor.size: 24
